<div class="home">
	
	<div id="feature">
		<div class="feature-img">
		<img src="img/octotron.png">
		<div class="title">
		<h2>OctoTron</h2>
		</div><!--title-->
		</div><!--feature-img-->			
	<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem et nunc tincidunt euismod. Praesent sed nunc vitae justo commodo posuere.</p>
	<div id="meta">
		<dl>
			<dt>Brand:</dt><dd>GitHub</dd>
		</dl>
		<dl>
			<dt>Movie:</dt><dd>Tron</dd>
		</dl>
		<dl>
			<dt>Tags:</dt><dd><a href="#">intense</a>, <a href="#">bright</a>, <a href="#">awesome</a></dd>
		</dl>
		<dl class="variations">
			<dt>Variations:</dt><dd><a href="#">OctoTron - dark blue</a></dd>
		</dl>
		</div><!--meta-->
			
	</div><!--feature-->
	
	<div class="grid">
		<h3>Another background</h3>
		
		</div><!--grid-->

	
	
	</div><!--home-->
