<div class="detail">
	<div class="detail-img">
		<img src="/img/octotron-detail.png">	
	</div><!--backgrounds-img-->
	
	<div class="detail-content">
		<div class="info">
		<h2>OctoTron</h2>
		<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem et nunc tincid unt euismod. Praesent sed nunc vitae justo commodo posuere.</p>
		
		<div id="meta">
			<dl>
				<dt>Brand:</dt><dd>GitHub</dd>
			</dl>
			<dl>
				<dt>Movie:</dt><dd>Tron</dd>
			</dl>
			<dl>
				<dt>Tags:</dt><dd><a href="#">intense</a>, <a href="#">bright</a>, <a href="#">awesome</a></dd>
			</dl>
			<dl class="variations">
				<dt>Variations:</dt><dd><a href="#">OctoTron - dark blue</a></dd>
			</dl>
			</div><!--meta-->	
		</div><!--info-->
	</div><!--detail-content-->

	<div class="downloads">
		<h3>Download this background</h3><span class="download-desc">(Desktop, iPad, and iPhone)</span>
		
	</div><!--downloads-->
	
</div><!--detail-->
