/*
KSS Styleguide for Backgrounds by broccolini

Created by:
Diana Mounter

Styleguide 0.1
*/


/* @group Meyer Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear: both; }

::-webkit-input-placeholder { color: #00A5D8; opacity: .7; }
:-moz-placeholder { color: #00A5D8; opacity: .7; border: none; }
:required { box-shadow: none; }


/* @end */

/*
Basic text styles

*/

body {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #f2f2f2;
	padding-bottom: 60px;
}

p {
	font-weight: 200;
	line-height: 1.4em;
}

h1, h2, h3, h4 {
	color: #333;
}

h1 {
	font-size: 24px;
	margin: 0 0 24px;
}

span.designer {
	font-size: 16px;
}

h2 {
	font-size: 24px;
	margin: 0 0 20px;
}

h3 {
	font-size: 20px;
}

a {
	color: #000;
}

dl {
	display: block;
	margin-bottom: 9px;
}

dt, dt.variations {
	font-weight: bold;
	margin-right: 3px;
	display: inline;
}

dd {
	font-weight: 200;
	display: inline;
	margin-right: 3px;
}

dl.variations {
	margin-top: 25px;
}


#feature {
	margin-bottom: 75px;
	position: relative;
}


div.feature-img {
	margin-bottom: 14px;
}

div.feature-img div.title {
	margin-top: -40px;
	display: block;
	width: 582px;
	height: 32px;
	background-color: #000;
	opacity: 0.8;
	padding-top: 8px;
}

div.title h2 {
	margin-left: 10px;
	color: #f2f2f2;
	font-weight: 500;
	letter-spacing: 0.05em;
}

#feature p.description {
	width: 582px;
}

#meta {
	width: 177px;
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding-right: 30px;
}

#meta .detail {
	position: relative;
}

/*
Structure


*/	
	
#nav {
	position: fixed;
	width: 150px;
	margin: 30px 0 0 30px;
	top: 0;
	left: 0;
	z-index: 200;
}

	div.page {
		width: 828px;
		margin: 30px 0 0 200px;
		padding-right: 28px;
	}
	
	div.home {
		
	}
	
	div.detail-img {
		width: auto;
		display: inline-block;
		margin-bottom: 23px;
	}
	
	div.detail-content {
		position: relative;
		margin-bottom: 63px;
	}
	
	div.info {
		width: 583px;
	}
	
	div.downloads {
		display: inline-block;
	}
	
	div.tags {
		
	}
	
	div.brands {
		
	}

#grid {
	position: relative;
}


/*
lists
*/	
	
ul.nav-list {
	font-weight: 200;
	margin-top: 52px;
}

ul.nav-list li {
	line-height: 1.4em;
}


ul.backgrounds {
	display: block;
}	

ul.backgrounds li {
	display: inline;
	padding-right: 37px;
	float: left;
	margin-bottom: 46px;
}
	






